.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

ul#skipmenu li a {
    width: 1px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

ul#skipmenu li a:focus {
    width: 100%;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    text-decoration: none;
}

/*------------------SkipMenu END----------------*/

body {
    background-color: #ffffff;
    min-width: 1440px;
}

header#header_wrap {
    width: 100%;
    height: 115px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 999;
}

header#header_wrap.onscroll {
    height: 75px;
}

header#header_wrap.on {
    background-color: #ffffff;
}

div#notice {
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-color: #4a4a4a;
}

div#notice.on {
    display: none;
}

div#notice ul {
    height: 80px;
    animation: slide 5s infinite;
    -webkit-animation: slide 5s infinite;
}

div#notice ul li {
    height: 40px;
    text-align: center;
}

div#notice ul li a {
    text-decoration: none;
    line-height: 40px;
    color: #ffffff;
    font-size: 12px;
}

@keyframes slide {
    10% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

nav#gnb {
    width: 100%;
    height: 75px;
    position: relative;
    top: 40px;
    left: 0px;
    z-index: 99;
}

nav#gnb.on {
    width: 100%;
    height: 75px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 99;
}

h1#logo {
    width: 100px;
    height: 37px;
    position: absolute;
    top: 19px;
    left: calc(50% - 50px);
}

h1#logo a,
h1#logo img {
    display: block;
}

div#gnb_inner {
    width: 100%;
    height: 100%;
    padding: 0px 120px;
    box-sizing: border-box;
    border-bottom: solid 1px #eaeaea;
}

div.menu_left {
    width: 235px;
    height: 100%;
    float: left;
}

div.menu_right {
    width: 240px;
    height: 100%;
    float: right;
}

div.menu_right ul.menu_top li:last-child {
    margin-right: 0px;
}

ul.menu_top {
    height: 100%;
}

ul.menu_top li {
    float: left;
    font: normal 16px NeutraText;
    letter-spacing: 0.2px;
    margin-right: 40px;
}

ul.menu_top li:last-child {
    margin-right: 0px;
}

ul.menu_top li a {
    text-decoration: none;
    font-size: 13px;
    color: #1D1D1D;
    display: block;
    line-height: 75px;
}

ul.menu_top li a:hover,
ul.menu_top li a:focus {
    color: #999999;
}

/*-------SubMenu START--------*/

div.sub_menu {
    width: 100%;
    height: 425px;
    position: absolute;
    top: 75px;
    left: 0px;
    padding: 35px 120px 35px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 98;
    /*    opacity: 1;*/
    background-color: #ffffff;
    border-bottom: solid 1px #eaeaea;
}

/*
div.sub_menu.on {
    width: 100%;
    height: 510px;
    padding: 110px 120px 35px;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
}
*/

div.subs {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

ul.category {
    width: 120px;
    height: 390px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 96;
    /*    overflow: hidden;*/
}

ul.category li {
    font: normal 14px NeutraText;
    margin-bottom: 20px;
}

ul.category li.sub_tit {
    color: #1d1d1d;
}

ul.category li.sub a {
    text-decoration: none;
    display: inline-block;
    color: #999999;
}

ul.category li.sub a:hover,
ul.category li.sub a:focus {
    color: #1d1d1d;
}

/*------(Product) Category END------*/

/*-----(3depth) Category List START-------*/

div.category_box {
    width: 1520px;
    height: 100%;
    padding-top: 38px;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 160px;
    z-index: 20;
    display: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

div.category_box.on {
    display: block;
}

ul.category_list {
    width: 100%;
}

ul.category_list > li {
    width: 800px;
    margin-bottom: 20px;
}

ul.category_list > li > a:hover,
ul.category_list > li > a:focus {
    color: #1d1d1d;
}

/*------Sub Banner------*/

div.sub_banner {
    width: 500px;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 20;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

div.sub_banner.on {
    opacity: 1;
}

div.sub_banner a {
    display: inline-block;
}

div.sub_banner img {
    height: 300px;
    display: block;
    border: solid 1px #b4b4b4;
    border-radius: 2px;
    margin-bottom: 20px;
}

div.sub_banner p {
    font: normal 14px NeutraText;
    color: #1d1d1d;
}

/*--------Search Bar---------*/

div.search_drop {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 75px;
    left: 0px;
    padding: 50px 120px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 98;
    background-color: #ffffff;
    border-bottom: solid 1px #eaeaea;
}

fieldset {
    border-bottom: 1px solid #1d1d1d;
    margin: 0px auto;
    vertical-align: middle;
    padding: 0.75em;
    width: 90%;
}

input#banner_action {
    width: 100%;
    height: 30px !important;
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
}

input#keyword {
    border: none;
    width: 600px;
    font-size: 18px;
    line-height: 30px;
}

input:focus {
    outline: none;
}

img.search_icon {
    margin-right: 20px;
    height: 17px;
    width: auto;
}

img.close_icon {
    width: 17px;
    height: 17px;
    float: right;
}

/*--------Search Bar END---------*/

/*---------------------header END-------------------*/

div#visual_wrap {
    width: 100%;
    height: 1040px;
}

ul#slider {
    width: 100%;
    height: 1040px;
}

ul#slider li {
    position: relative;
    width: 100%;
    height: 1040px;
}

ul#slider li img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1);
}

ul#slider li .text {
    position: absolute;
    width: 100%;
    color: #ffffff;
    top: 245px;
    text-align: center;
    font: normal normal 65px Circular Std;
    letter-spacing: -0.65px;
    color: #1D1D1D;
}

ul#slider li .sub_top {
    font-size: 35px;
    margin: 25px 0px 10px;
}

ul#slider li .sub_bottom {
    font-family: YDIYGO320;
    font-size: 24px;
}

div#visual_wrap > ul#slider li > a.shop_btn {
    z-index: 99;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

/*slick dots custom*/

ul#slider .slick-dots {
    position: absolute;
    bottom: 35px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

ul#slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

ul#slider .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

ul#slider .slick-dots li button:hover,
ul#slider .slick-dots li button:focus {
    outline: none;
}

ul#slider .slick-dots li button:hover:before,
ul#slider .slick-dots li button:focus:before {
    opacity: 1;
}

ul#slider .slick-dots li button:before {
    font-size: 25px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul#slider .slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

/*----ShopNow Bnt Start--------*/

a.shop_btn {
    display: block;
    width: 263px;
    color: #1d1d1d;
    padding: 18px 90px;
    box-sizing: border-box;
    border: solid 1px #1d1d1d;
    z-index: 99;
    text-decoration: none;
    font: normal 16px Flaunters;
    letter-spacing: 1.6px;
    border-radius: 3px;
}

a.shop_btn:hover,
a.shop_btn:focus {
    color: #999999;
    border-color: #999999;
}

/*----ShopNow Bnt End------*/

/*----------Visual END--------------*/

div#content01_wrap {
    width: 100%;
    background-color: #ffffff;
    padding: 100px 120px 70px;
    box-sizing: border-box;
}

div#content01_inner {
    width: 100%;
}

div#promotion {
    width: 100%;
    height: 670px;
    border-bottom: solid 1px #707070;
    box-sizing: border-box;
    position: relative;
    top: 0px;
    right: 0px;
}

div.promo_img {
    width: 1148px;
    height: 560px;
    background-image: url("../images/promo_01_v7.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
}

div.promo_txt {
    width: 434px;
    height: 560px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 105px 0px;
    box-sizing: border-box;
    margin: 0px auto;
}

div.toggle_online {
    background-color: #304192;
    color: #ffffff;
    text-align: center;
    font: normal 17px/22px NeutraText;
    padding: 10px 22px;
    width: 200px;
    box-sizing: border-box;
    margin: 0px auto 30px;
}

p.con_tit {
    text-align: center;
    font-size: 36px;
    font-family: YDIYGO340;
    margin-bottom: 10px;
    line-height: 54px;
    color: #1d1d1d;
    margin-bottom: 38px;
}

p.con_tit span {
    color: #939393;
}

p.con_subs {
    text-align: center;
    font-size: 24px;
    font-family: YDIYGO320;
    letter-spacing: 1px;
    color: #1d1d1d;
    margin-bottom: 40px;
}

/*----Go to the Shop Btn Start------*/

a.goshop_btn {
    width: 265px;
    height: 56px;
    padding: 18px 27px;
    box-sizing: border-box;
    border: 1px solid #383838;
    border-radius: 3px;
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    font: normal 15px Flaunters;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #383838;
    margin: 0px auto;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
}

a.goshop_btn span {
    height: 21px;
    line-height: 21px;
    vertical-align: center;
    z-index: 9;
    position: absolute;
    right: 27px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a.goshop_btn:hover,
a.goshop_btn:focus {
    color: #999999;
    border-color: #999999;
}

a.goshop_btn:hover span,
a.goshop_btn:focus span {
    color: #999999;
}

a.goshop_btn:before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 78px;
    background-color: #383838;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

a.goshop_btn:hover:before,
a.goshop_btn:focus:before {
    background-color: #999999;
    width: 0%;
}

/*----Go to the Shop Btn End-------*/

/*----BFD Event START----*/

div#bfd_event {
    width: 100%;
    height: auto;
    padding: 60px 0px 60px;
    box-sizing: border-box;
    border-bottom: solid 1px #707070;
}

div.ani_wrapper {
    width: 330px;
    height: 44px;
    padding: 0px 10px;
    box-sizing: border-box;
    margin: 0px auto 30px;
    background-color: #3a3a3a;
    overflow: hidden;
    text-align: center;
    font: normal normal 18px/44px Circular Std;
    color: #ffffff;
}

div.ani_holder {
    width: 100%;
    /*
     animation: marquee 7s linear infinite;
    -webkit-animation: marquee 7s linear infinite;
*/
}

span.toggle_bfd {
    display: inline-block;
    margin-right: 40px;
    float: left;
    width: 50%;
    white-space: nowrap;
}

h2.sub_tit {
    text-align: center;
    font: normal normal 50px Circular Std;
    margin-bottom: 5px;
}

p.bfd_date {
    text-align: center;
    font: normal normal 30px Circular Std;
}

div#bfd_event > ul.slider {
    padding: 20px 0px;
    box-sizing: border-box;
}

div#bfd_event > a.shop_btn {
    margin: 0px auto;
}

ul.slider {
    width: 100%;
    height: 500px;
    margin: 40px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

li.slider_inner {
    width: 31.33%;
    /*532px*/
    height: 100%;
    padding: 0px 1em;
    white-space: nowrap;
    position: relative;
    top: 0px;
    left: 0px;
}

li.slider_inner a.img {
    display: block;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: solid 1px #DCDDDE;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 28px;
}

li.slider_inner a img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    height: 100%;
    width: 100%;
}

li.slider_inner a:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

li.slider_inner p {
    text-align: center;
    font: normal 18px Apple SD Gothic Neo;
}

p.f_tit {
    color: #707070;
    margin-bottom: 8px;
}

li.slider_inner > p.f_sub {
    color: #898181;
    font-size: 16px;
}

a.tit_btn {
    display: block;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.2%;
    color: #383838;
    font-size: 21px;
    font-family: YDIYGO340;
    margin-bottom: 20px;
}

li.slider_inner a.tit_btn:hover {
    color: #999999;
}

li.slider_inner > p.off_caption {
    font: normal 17px/36px NeutraText;
    padding: 0px 10px;
    box-sizing: border-box;
    width: 100px;
    height: 36px;
    color: #ffffff;
    background-color: #343434;
    position: relative;
    bottom: -18px;
    left: 0px;
    z-index: 20;
}

/*-----BFD Event END----*/

div#review_event {
    width: 100%;
    height: 530px;
    background-image: url("../images/reveiw_event.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1920px 530px;
    position: relative;
    top: 0px;
    left: 0px;
}

div.review_txt {
    width: 700px;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
}

div.review_txt p {
    text-align: center;
    color: #1D1D1D;
    font: normal 36px/50px YDIYGO320;
    margin-bottom: 60px;
}

div.review_txt p span {
    font-family: YDIYGO340;
}

/*---Review Event END----*/

/*---Best Seller Start----*/

div#contents02_inner {
    width: 100%;
    height: auto;
    padding-top: 75px;
    box-sizing: border-box;
    border-top: solid 1px #707070;
}

div#best > ul.slider {
    height: 555px;
}

div#best > ul.slider >li.slider_inner{
    height: 555px;
}

p.best_txt {
    margin-top: 10px;
    text-align: center;
    font: normal 20px YDIYGO320;
    letter-spacing: -0.3px;
    color: #1D1D1D;
}

li.slider_inner > p.new_caption {
    font: normal 17px/36px NeutraText;
    padding: 0px 10px;
    box-sizing: border-box;
    width: 120px;
    height: 36px;
    color: #ffffff;
    text-align: center;
    background-color: #343434;
    position: relative;
    bottom: -18px;
    left: 0px;
    z-index: 20;
}

li.slider_inner > p.bfd_caption {
    font: normal 17px/36px NeutraText;
    padding: 0px 10px;
    box-sizing: border-box;
    width: 128px;
    height: 36px;
    color: #ffffff;
    text-align: center;
    background-color: #343434;
    position: relative;
    bottom: -18px;
    left: 0px;
    z-index: 20;
}

/*---SeeMoreBtn Start----*/

a.see_more_btn {
    margin: 40px auto 0px;
    width: 220px;
    height: 56px;
    padding: 18px 25px;
    box-sizing: border-box;
    border: 1px solid #383838;
    border-radius: 3px;
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    font: normal 15px Flaunters;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-align: left;
    color: #383838;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
}

a.see_more_btn:before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 75px;
    background-color: #383838;
    position: absolute;
    right: 29px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

a.see_more_btn:hover:before {
    background-color: #999999;
    width: 0px;
}

a.see_more_btn span {
    height: 21px;
    line-height: 21px;
    vertical-align: center;
    z-index: 10;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a.see_more_btn:hover {
    color: #999999;
    border-color: #999999;
}

a.see_more_btn:hover span {
    color: #999999;
}

/*---SeeMoreBtn END----*/

div#card_promotion {
    width: 100%;
    height: 650px;
    background-image: url("../images/card_event.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1920px 650px;
}

div.card_txt {
    width: 100%;
    padding: 150px 120px;
    box-sizing: border-box;
}

div.card_txt div.toggle_online {
    margin-left: 0px;
}

div.card_txt p {
    text-align: left;
    color: #1D1D1D;
    font: normal 36px/50px YDIYGO320;
    margin-bottom: 25px;
}

div.card_txt p span {
    font-family: YDIYGO340;
}

div.card_txt p.card_subs {
    font: normal 24px Noto Sans;
    margin-bottom: 40px;
}

div#card_promotion a.goshop_btn {
    margin-left: 0px;
}

/*---Card Promotion END----*/

div#contents03_inner {
    width: 100%;
    padding: 88px 120px 100px;
    box-sizing: border-box;
}

div#store {
    width: 100%;
    margin: 0px auto;
}

p.store_txt {
    text-align: center;
    font: normal 22px/34px YDIYGO320;
    color: #1D1D1D;
    margin-top: 20px;
}

p.store_txt span {
    font-family: YDIYGO330;
    color: #1D1D1D;
}

ul.store_box {
    width: 100%;
    margin: 65px 0px 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

li.store_box {
    width: 33%;
    padding: 0% 2.5%;
    box-sizing: border-box;
    /*    display: inline-block;*/
}

li.store_box div {
    height: auto;
    overflow: hidden;
    margin-bottom: 28px;
}

li.store_box a {
    display: block;
    overflow: hidden;
}

li.store_box a.img {
    width: 100%;
    height: auto;
    border: solid 1px #DCDDDE;
    border-radius: 3px;
    box-sizing: border-box;
}

li.store_box a img {
    width: 100%;
    height: auto;
    border: solid 1px #DCDDDE;
    border-radius: 3px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

li.store_box a:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

li.store_box p.s_category {
    text-align: left;
    font: normal 15px Flaunters;
    padding: 25px 0px;
    border-top: solid 1px #1d1d1d;
    letter-spacing: 1px;
}

p.s_tit {
    text-align: left;
    font: normal 30px/40px YDIYGO340;
    letter-spacing: 0.6px;
    color: #1D1D1D;
    margin-bottom: 20px;
}

p.s_sub {
    text-align: left;
    font: normal 20px/34px YDIYGO320;
    color: #1D1D1D;
    margin-bottom: 20px;
}

li.store_box a.see_more_btn {
    margin-left: 0px;
    text-align: left;
}

/*---store END---*/


div.footer_wrap {
    overflow: hidden;
    background: #000000;
    color: #999999;
    min-width: 320px;
    height: 100%;
    padding: 80px 120px 40px;
    box-sizing: border-box;
}

div.footer_wrap a {
    color: #333333;
    display: block;
    text-decoration: none;
}

div.footer_wrap a:hover,
div.footer_wrap a:visited {
    color: #ffffff;
}

div.footer_wrap h4 {
    font: normal 18px/1em NeutraText;
    margin-bottom: 30px;
    color: #ffffff;
    display: block;
}

ul.footer_socials li a {
    margin-bottom: 10px;
    color: #333333;
    display: block;
    text-decoration: none;
}

div.footer {
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
    text-align: left;
}

div.footer_wrap .footer_left,
div.footer_wrap .footer_center {
    float: left;
    width: 400px;
}

div.footer_wrap .footer_left p {
    margin-bottom: 30px;
    color: #ffffff;
    font: normal 20px/30px NeutraText;
}

div.footer_wrap .footer_left span {
    font-size: 14px;
}

.footer_wrap .footer_right {
    float: right;
    width: 200px;
    margin-right: 80px;
}

div.footer ul.footer_socials li {
    display: inline;
}

div.footer div.footer_socials a {
    border: 0;
}

.footer_wrap .footer_left:hover,
.footer_container .footer_center:hover,
.footer_container .footer_right:hover {
    opacity: 1;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.footer_wrap .footer_left,
.footer_wrap .footer_center,
.footer_wrap .footer_right {
    opacity: 0.6;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    padding-bottom: 200px;
}

/*--------footer END--------*/


/*

---------------Media Screen START-----------------------

@media screen and (max-width:1070px) {

    div#content01_inner,
    div#visual_wrap,
    div#review_event,
    div#contents02_inner {
        width: 90%;
    }
}

@media screen and (max-width:1024px) {

    header#header_wrap {
        height: 80px;
        width: 100%;
    }

    div#visual_wrap {
        width: 100%;
    }

    nav#gnb {
        width: 100%;
        height: 90px;
    }

    .footer {
        width: 750px;
    }

    .footer-container .footer-left {
        width: 350px;
    }

    .footer-container .footer-center {
        width: 300px;
    }

    .footer-container .footer-right {
        width: 100px;
    }
}
*/
